# 设置默认的行为，如果没有其他匹配规则，则自动识别文本文件并进行换行符转换
* text=auto eol=crlf

# 指定文件类型的换行符为CRLF
*.py text eol=crlf
*.js text eol=crlf
*.jsx text eol=crlf
*.json text eol=crlf
*.css text eol=crlf
*.html text eol=crlf
*.md text eol=crlf
*.bat text eol=crlf
*.sh text eol=crlf

# 二进制文件不进行换行符转换
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.ttf binary
*.ttc binary
*.woff binary
*.woff2 binary
